/*TRANSITION*/

.link {
  position: relative;
}

.transition-content {
  position: absolute;
}

.top {
  top: 0;
}
.link:hover .top {
  top: -100px;
}

.bottom {
  top: 100px;
}
.link:hover .bottom {
  top: 0;
}

.transition-content {
  position: relative;
  transition: top 0.3s;
  overflow: hidden;
}


/*GENERAL*/

@font-face {
    font-family: "HelloStockholm";
    src: url(../assets/HelloStockholm-Alt.ttf) format("truetype");
}

.wrapper, .definition {
    width: 90%;
    max-width: 970px;
    margin: 0 auto;
}

.active {
  color: #65737e;
}

.title, .definition {
    font-family: 'Pathway Gothic One', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

.toc {
    background-color: #efefef;
}

.toc-tile {
    margin-bottom: 5%;
}

.toc-title {
  padding: 0 20px;
  position: absolute;
  top: 50%;
}

.summary {
    padding: 5%;
}

.divider {
    height: 1px;
    border: 0px;
    max-width: 970px;
    background: #e5e5e5;
    margin: 50px auto;
    position: relative
}

#fitness-section, #nutrition-section, #mentalHealth-section,#fnf-section, #spirituality-section, #nature-section, #volunteer-section, #job-section, #donate-section {
    display: block;
    height: 200px;
    position: relative;
}


/*NAV DESKTOP*/

.top-bar, .top-bar .menu {
    background-color: #fff;
}

.title-bar {
    width: 100%;
}

nav ul {
    font-family: 'Oswald', sans-serif;
}

.logo {
    width: 35px;
    height: 35px;
}


/*HERO*/

.main-hero, .vitality-hero, .connection-hero, .contribution-hero {
    align-items: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
}

.vitality-hero, .connection-hero, .contribution-hero {
    height: 60vh;
    padding-top: 20px;
    margin: 0 auto;
}

.main-hero, #fitness-hero, #nutrition-hero, #mentalHealth-hero, #fnfHero, #spirituality-hero, #nature-hero, #volunteer-hero, #job-hero, #donate-hero{
    height: 100vh;
}

.contribution-hero {
    background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/contribution-hero.jpeg") center no-repeat;
    background-size: cover;
}

.hero-font {
    padding-left: 50px;
    font-size: 125px;
    font-family: 'Fjalla One', sans-serif;
}

.page-title {
    font-size: 8em;
    text-align: center;
}


/*CONTENT*/

.main-content {
  margin: 5%;
}

.definition-box {
    background-color: #1F1F1F;
    font-size: 1.25rem;
    color: white;
    padding: 3.750em 0;
}

.content {
    max-width: 970px;
    margin: 0 auto;
}

.title {
    font-family: 'Fjalla One', sans-serif;
    margin: 10% 0 10% 0;
    text-align: center;
}

.section a, .section p {
    color: white;
    text-align: left;
}

#vitality, #connection, #contribution {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    opacity: 0.9;
}

#vitality {
    background: url("../img/vitality.jpg") center no-repeat;
    background-size: cover;
}

#connection {
    background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/connection.jpeg") center no-repeat;
    background-size: cover;
    background-position: right 20px left 5px top 20px;
}

#contribution {
    background: url("../img/contribution.jpg") center no-repeat;
    background-size: cover;
}

.section {
    padding: 20px;
}

.description {
    display: block;
    float: left;
    padding: 20px;
    font-size: 1em;
}


/*VITALITY*/

#fitness-section {
    background: url("../img/fitness-section.jpg") center no-repeat;
    background-size: cover;
}

#nutrition-section {
    background: url("../img/nutrition-section.jpeg") center no-repeat;
    background-size: cover;
}

#mentalHealth-section {
    background: url("../img/smile.jpeg") center no-repeat;
    background-size: cover;
}

.list {
    font-family: 'Roboto Slab', serif;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.benefits {
    padding: 10%;
}

/*CONNECTION*/

#fnf-section {
    background: url("../img/family-hero.jpg") center no-repeat;
    background-size: cover;
}

#spirituality-section {
  background: url("../img/spirituality-hero.jpg") center no-repeat;
  background-size: cover;
}

#nature-section {
  background: url("../img/nature.jpg") center no-repeat;
  background-size: cover;
}

/*CONTRIBUTION*/

#volunteer-section {
    background: url("../img/volunteer-hero.jpg") center no-repeat;
    background-size: cover;
}

#job-section {
    background: url("../img/work.jpeg") center no-repeat;
    background-size: cover;
}

#donate-section {
    background: url("../img/donate.jpg") center no-repeat;
    background-size: cover;
}

/*FOOTER*/

footer {
    background-color: #222;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}

.footer-content {
      display: inline-block;
}

#copyright {
    background-color: #222;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    text-align: center;
}


/*************************
MEDIA QUERY
*************************/


/*if 640px or lower then true*/

@media (max-width: 640px) {
    .menu {
        display: flex;
        justify-content: center;
    }
    .logo {
        margin: 0 auto;
    }
}

@media (max-width: 875px) {
    .hero {
        height: 50vh;
    }
    .hero-font {
        font-size: 3em;
    }
    .page-title {
        font-size: 3rem;
    }
}
